<h2>NEW CELEBRITY</h2>

<form action="/celebrities/create" method="post">
    <label for="name">NAME</label>
    <input type="text" name="name" required>
    <br>
    <br>
    <label for="occupation">OCCUPATION</label>
    <input type="text" name="occupation" required>
    <br>
    <br>
    <label for="catchPhrase">CATCH PHRASE</label>
    <input type="text" name="catchPhrase" required>
    <br>
    <br>

    <button>SUBMIT</button>
</form>