<h2>MOVIES</h2>
<ul>
    {{#each allMovies}}
    <li>
        <a href="/movies/{{this._id}}">{{this.title}}</a>
        <form action="/movies/{{this._id}}/delete">
            <button>
                DELETE
            </button>
        </form>
    </li>
    {{/each}}
</ul>